Install Pandas.

In [ ]:
!pip install pandas

Create the BRICS dataframe.

In [9]:
import pandas as pd

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]
print(brics)

         country    capital  area  population
BR        Brazil   Brasília   8.5         211
RU        Russia     Moscow  17.1         144
IN         India  New Delhi   3.3        1380
CH         China    Beijing   9.6        1393
SA  South Africa   Pretoria   1.2          58

To select the countries with area over 8 million square kilometers:

1. Select the area column

In [2]:
import pandas as pd

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]
brics["area"]

BR     8.5
RU    17.1
IN     3.3
CH     9.6
SA     1.2
Name: area, dtype: float64

2. Perform a comparison

In [3]:
import pandas as pd

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]
brics["area"] > 8

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

3. Use result to select the countries

In [1]:
import pandas as pd

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]


brics[brics["area"] > 8]

   country   capital  area  population
BR  Brazil  Brasília   8.5         211
RU  Russia    Moscow  17.1         144
CH   China   Beijing   9.6        1393

In [3]:
import pandas as pd
import numpy as np

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]

np.logical_and(
  brics["area"] > 8,
  brics["area"] < 10
)

BR     True
RU    False
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [4]:
import pandas as pd
import numpy as np

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]

brics[np.logical_and(
  brics["area"] > 8,
  brics["area"] < 10
)]

   country   capital  area  population
BR  Brazil  Brasília   8.5         211
CH   China   Beijing   9.6        1393