<a href="https://colab.research.google.com/github/joseeden/joeden/blob/master/docs/021-Software-Engineering/021-Jupyter-Notebooks/001-Using-Pandas/002_using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using Pandas

Make sure to install Pandas first. You can create a code cell below this and add:

```python
!pip install pandas
```

Create the BRICS dataframe.

In [9]:
import pandas as pd

data = {
  "country": ["Brazil", "Russia", "India", "China", "South Africa"],
  "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
  "area": [8.5, 17.1, 3.3, 9.6, 1.2],
  "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]
print(brics)

         country    capital  area  population
BR        Brazil   Brasília   8.5         211
RU        Russia     Moscow  17.1         144
IN         India  New Delhi   3.3        1380
CH         China    Beijing   9.6        1393
SA  South Africa   Pretoria   1.2          58

To select the countries with area over 8 million square kilometers:

1. Select the area column

In [10]:
  import pandas as pd

  data = {
      "country": ["Brazil", "Russia", "India", "China", "South Africa"],
      "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
      "area": [8.5, 17.1, 3.3, 9.6, 1.2],
      "population": [211, 144, 1380, 1393, 58]
  }

  brics = pd.DataFrame(data)
  brics.index = ["BR", "RU", "IN", "CH", "SA"]
  brics["area"]

BR     8.5
RU    17.1
IN     3.3
CH     9.6
SA     1.2
Name: area, dtype: float64

2. Perform a comparison

In [11]:
import pandas as pd

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]
brics["area"] > 8

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

3. Use result to select the countries

In [12]:
  import pandas as pd

  data = {
      "country": ["Brazil", "Russia", "India", "China", "South Africa"],
      "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
      "area": [8.5, 17.1, 3.3, 9.6, 1.2],
      "population": [211, 144, 1380, 1393, 58]
  }

  brics = pd.DataFrame(data)
  brics.index = ["BR", "RU", "IN", "CH", "SA"]


  brics[brics["area"] > 8]

   country   capital  area  population
BR  Brazil  Brasília   8.5         211
RU  Russia    Moscow  17.1         144
CH   China   Beijing   9.6        1393

Using AND comparisons:

In [13]:
import pandas as pd
import numpy as np

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]

np.logical_and(
  brics["area"] > 8,
  brics["area"] < 10
)

BR     True
RU    False
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [14]:
import pandas as pd
import numpy as np

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]

brics[np.logical_and(
  brics["area"] > 8,
  brics["area"] < 10
)]

   country   capital  area  population
BR  Brazil  Brasília   8.5         211
CH   China   Beijing   9.6        1393

Looping through Pandas Dataframes:

Iterating over each row:

In [15]:
import pandas as pd

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]

for label, row in brics.iterrows():
    print(label)
    print(row)

BR
country         Brazil
capital       Brasília
area               8.5
population         211
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population       144
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area                3.3
population         1380
Name: IN, dtype: object
CH
country         China
capital       Beijing
area              9.6
population       1393
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                   1.2
population              58
Name: SA, dtype: object

Selecting only the label and the capital column:

In [16]:
import pandas as pd

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]

for label, row in brics.iterrows():
    print(label + ": " + row["capital"])

BR: Brasília
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

Adding a new column that shows the character length of the country name:

In [17]:
import pandas as pd

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics = pd.DataFrame(data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]

for label, row in brics.iterrows():
    ## Create series on iteration
    brics.loc[label, "name_length"] = len(row["country"])

print(brics)

         country    capital  area  population  name_length
BR        Brazil   Brasília   8.5         211          6.0
RU        Russia     Moscow  17.1         144          6.0
IN         India  New Delhi   3.3        1380          5.0
CH         China    Beijing   9.6        1393          5.0
SA  South Africa   Pretoria   1.2          58         12.0

Adding a new column that shows the character length of the country name, without using a for loop:

In [18]:
import pandas as pd

data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasília", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.5, 17.1, 3.3, 9.6, 1.2],
    "population": [211, 144, 1380, 1393, 58]
}

brics["name_length"] = brics["country"].apply(len)
print(brics)

         country    capital  area  population  name_length
BR        Brazil   Brasília   8.5         211            6
RU        Russia     Moscow  17.1         144            6
IN         India  New Delhi   3.3        1380            5
CH         China    Beijing   9.6        1393            5
SA  South Africa   Pretoria   1.2          58           12