# Scratch 

This file is used for short one-off tests.

<a href="https://colab.research.google.com/github/joseeden/joeden/blob/master/docs/021-Software-Engineering/021-Jupyter-Notebooks/001-Using-Pandas/999-Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    "Name": ["Ted", "Stella", "Ted", "Robin", "Ted", "Stella"],
    "Breed": ["Labrador", "Golden Retriever", "Chow Chow", "Poodle", "Labrador", "Golden Retriever"],
    "Color": ["Black", "Golden", "Brown", "White", "Black", "Golden"],
    "Visit Date": ["2023-01-10", "2023-01-12", "2023-01-15", "2023-01-18", "2023-01-20", "2023-01-22"],
    "Weight": [30, 25, 28, 20, 32, 26]  # Add weights in kilograms
}

dogs = pd.DataFrame(data)
print(dogs)

In [ ]:
dogs.groupby("Breed")["Name"].count()

In [ ]:
dogs.groupby("Color").agg({
        "Name": "nunique",
        "Visit Date": "count"
    })

In [ ]:
dogs.groupby(["Color", "Breed"])["Name"].count()

In [ ]:
dogs.groupby(["Color", "Breed"]).agg({
        "Name": "nunique",
    "Visit Date": "count"
    })

In [ ]:
dogs.pivot_table(values="Weight", index="Color")

In [ ]:
import numpy as np
dogs.pivot_table(values="Weight", index="Color", aggfunc=np.median)

In [ ]:
dogs.pivot_table(values="Weight", index="Color", aggfunc=[np.mean, np.median])

In [ ]:
dogs.pivot_table(values="Weight", index="Color", columns="Breed")

In [ ]:
dogs.pivot_table(values="Weight", index="Color", columns="Breed", fill_value=0)

In [ ]:
dogs.pivot_table(values="Weight", index=Color", columns="Breed", fill_value=0, margins=True)

In [1]:
import pandas as pd

data = {
    'breed': ['Labrador', 'Chow Chow', 'Poodle', 'Labrador', 'Beagle', 'Chihuahua', 
              'Poodle', 'Labrador', 'Beagle', 'Chow Chow'],
    'color': ['Brown', 'Tan', 'White', 'Black', 'Brown', 'Grey', 
              'Brown', 'Black', 'White', 'Tan'],
    'age': [3, 4, 2, 7, 5, 1, 3, 6, 4, 5],
    'weight': [25, 18, 12, 30, 10, 3, 20, 28, 12, 17],
    'date_of_birth': ['2016-01-01', '2015-06-15', '2017-03-20', '2014-09-10', '2015-12-01', '2018-05-05',
                      '2017-03-20', '2014-09-10', '2015-12-01', '2015-06-15'],
}

dogs = pd.DataFrame(data)
dogs['height'] = [23, 20, 20, 23, 21, 18, 22, 24, 21, 19]  # Adding height column

In [ ]:
dogs.pivot_table(values='height', index='breed', columns='color', aggfunc='mean')

In [ ]:
dogs.loc[dogs['breed'] == 'Poodle', ['height']]

In [ ]:
dogs.mean(axis="index")

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649

## Advanced Merging

In [3]:
import pandas as pd 

# Invoice data for three months
inv_jan = pd.DataFrame([
    [101, 1, '2019-01-10', 100], 
    [102, 2, '2019-01-15', 200], 
    [103, 3, '2019-01-20', 150]
], columns=['iid', 'cid', 'invoice_date', 'total'])

inv_feb = pd.DataFrame([
    [104, 4, '2019-02-05', 170], 
    [105, 5, '2019-02-12', 250], 
    [106, 6, '2019-02-18', 300], 
    [107, 7, '2019-02-25', 190]
], columns=['iid', 'cid', 'invoice_date', 'total'])

inv_mar = pd.DataFrame([
    [108, 8, '2019-03-03', 210], 
    [109, 9, '2019-03-10', 280], 
    [110, 10, '2019-03-17', 190], 
    [111, 11, '2019-03-24', 240], 
    [112, 12, '2019-03-30', 270]
], columns=['iid', 'cid', 'invoice_date', 'total'])

# Concatenating tables
combined = pd.concat([inv_jan, inv_feb, inv_mar])
print(combined)

   iid  cid invoice_date  total
0  101    1   2019-01-10    100
1  102    2   2019-01-15    200
2  103    3   2019-01-20    150
0  104    4   2019-02-05    170
1  105    5   2019-02-12    250
2  106    6   2019-02-18    300
3  107    7   2019-02-25    190
0  108    8   2019-03-03    210
1  109    9   2019-03-10    280
2  110   10   2019-03-17    190
3  111   11   2019-03-24    240
4  112   12   2019-03-30    270

In [4]:
combined_reset = pd.concat([inv_jan, inv_feb, inv_mar], ignore_index=True)
print(combined_reset)

    iid  cid invoice_date  total
0   101    1   2019-01-10    100
1   102    2   2019-01-15    200
2   103    3   2019-01-20    150
3   104    4   2019-02-05    170
4   105    5   2019-02-12    250
5   106    6   2019-02-18    300
6   107    7   2019-02-25    190
7   108    8   2019-03-03    210
8   109    9   2019-03-10    280
9   110   10   2019-03-17    190
10  111   11   2019-03-24    240
11  112   12   2019-03-30    270

In [9]:
combined_keys = pd.concat(
              [inv_jan, inv_feb, inv_mar], 
              ignore_index=False,
              keys=['Jan', 'Feb', 'Mar'])
print(combined_keys)

       iid  cid invoice_date  total
Jan 0  101    1   2019-01-10    100
    1  102    2   2019-01-15    200
    2  103    3   2019-01-20    150
Feb 0  104    4   2019-02-05    170
    1  105    5   2019-02-12    250
    2  106    6   2019-02-18    300
    3  107    7   2019-02-25    190
Mar 0  108    8   2019-03-03    210
    1  109    9   2019-03-10    280
    2  110   10   2019-03-17    190
    3  111   11   2019-03-24    240
    4  112   12   2019-03-30    270

In [11]:
inv_feb = pd.DataFrame([
    [104, 4, '2019-02-05', 170, 'US'], 
    [105, 5, '2019-02-12', 250, 'CA'], 
    [106, 6, '2019-02-18', 300, 'UK'], 
    [107, 7, '2019-02-25', 190, 'FR']
], columns=['iid', 'cid', 'invoice_date', 'total', 'billing_country'])

combined_diff = pd.concat([inv_jan, inv_feb])
print(combined_diff)

   iid  cid invoice_date  total billing_country
0  101    1   2019-01-10    100             NaN
1  102    2   2019-01-15    200             NaN
2  103    3   2019-01-20    150             NaN
0  104    4   2019-02-05    170              US
1  105    5   2019-02-12    250              CA
2  106    6   2019-02-18    300              UK
3  107    7   2019-02-25    190              FR

In [14]:
sort_diff = pd.concat([inv_jan, inv_feb], sort=True)
print(sort_diff)

  billing_country  cid  iid invoice_date  total
0             NaN    1  101   2019-01-10    100
1             NaN    2  102   2019-01-15    200
2             NaN    3  103   2019-01-20    150
0              US    4  104   2019-02-05    170
1              CA    5  105   2019-02-12    250
2              UK    6  106   2019-02-18    300
3              FR    7  107   2019-02-25    190

In [15]:
combined_inner = pd.concat([inv_jan, inv_feb], join="inner")
print(combined_inner)

   iid  cid invoice_date  total
0  101    1   2019-01-10    100
1  102    2   2019-01-15    200
2  103    3   2019-01-20    150
0  104    4   2019-02-05    170
1  105    5   2019-02-12    250
2  106    6   2019-02-18    300
3  107    7   2019-02-25    190