# Scratch 

This file is used for short one-off tests.

<a href="https://colab.research.google.com/github/joseeden/joeden/blob/master/docs/021-Software-Engineering/021-Jupyter-Notebooks/001-Using-Pandas/999-Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    "Name": ["Ted", "Stella", "Ted", "Robin", "Ted", "Stella"],
    "Breed": ["Labrador", "Golden Retriever", "Chow Chow", "Poodle", "Labrador", "Golden Retriever"],
    "Color": ["Black", "Golden", "Brown", "White", "Black", "Golden"],
    "Visit Date": ["2023-01-10", "2023-01-12", "2023-01-15", "2023-01-18", "2023-01-20", "2023-01-22"],
    "Weight": [30, 25, 28, 20, 32, 26]  # Add weights in kilograms
}

dogs = pd.DataFrame(data)
print(dogs)

In [ ]:
dogs.groupby("Breed")["Name"].count()

In [ ]:
dogs.groupby("Color").agg({
        "Name": "nunique",
        "Visit Date": "count"
    })

In [ ]:
dogs.groupby(["Color", "Breed"])["Name"].count()

In [ ]:
dogs.groupby(["Color", "Breed"]).agg({
        "Name": "nunique",
    "Visit Date": "count"
    })

In [ ]:
dogs.pivot_table(values="Weight", index="Color")

In [ ]:
import numpy as np
dogs.pivot_table(values="Weight", index="Color", aggfunc=np.median)

In [ ]:
dogs.pivot_table(values="Weight", index="Color", aggfunc=[np.mean, np.median])

In [ ]:
dogs.pivot_table(values="Weight", index="Color", columns="Breed")

In [ ]:
dogs.pivot_table(values="Weight", index="Color", columns="Breed", fill_value=0)

In [ ]:
dogs.pivot_table(values="Weight", index=Color", columns="Breed", fill_value=0, margins=True)

In [1]:
import pandas as pd

data = {
    'breed': ['Labrador', 'Chow Chow', 'Poodle', 'Labrador', 'Beagle', 'Chihuahua', 
              'Poodle', 'Labrador', 'Beagle', 'Chow Chow'],
    'color': ['Brown', 'Tan', 'White', 'Black', 'Brown', 'Grey', 
              'Brown', 'Black', 'White', 'Tan'],
    'age': [3, 4, 2, 7, 5, 1, 3, 6, 4, 5],
    'weight': [25, 18, 12, 30, 10, 3, 20, 28, 12, 17],
    'date_of_birth': ['2016-01-01', '2015-06-15', '2017-03-20', '2014-09-10', '2015-12-01', '2018-05-05',
                      '2017-03-20', '2014-09-10', '2015-12-01', '2015-06-15'],
}

dogs = pd.DataFrame(data)
dogs['height'] = [23, 20, 20, 23, 21, 18, 22, 24, 21, 19]  # Adding height column

In [ ]:
dogs.pivot_table(values='height', index='breed', columns='color', aggfunc='mean')

In [ ]:
dogs.loc[dogs['breed'] == 'Poodle', ['height']]

In [ ]:
dogs.mean(axis="index")

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649