# Scratch 

This file is used for short one-off tests.

In [7]:
import pandas as pd

data = {
    "Name": ["Ted", "Stella", "Ted", "Robin", "Ted", "Stella"],
    "Breed": ["Labrador", "Golden Retriever", "Chow Chow", "Poodle", "Labrador", "Golden Retriever"],
    "Color": ["Black", "Golden", "Brown", "White", "Black", "Golden"],
    "Visit Date": ["2023-01-10", "2023-01-12", "2023-01-15", "2023-01-18", "2023-01-20", "2023-01-22"],
    "Weight": [30, 25, 28, 20, 32, 26]  # Add weights in kilograms
}

dogs = pd.DataFrame(data)
print(dogs)

     Name             Breed   Color  Visit Date  Weight
0     Ted          Labrador   Black  2023-01-10      30
1  Stella  Golden Retriever  Golden  2023-01-12      25
2     Ted         Chow Chow   Brown  2023-01-15      28
3   Robin            Poodle   White  2023-01-18      20
4     Ted          Labrador   Black  2023-01-20      32
5  Stella  Golden Retriever  Golden  2023-01-22      26

In [2]:
dogs.groupby("Breed")["Name"].count()

Breed
Chow Chow           1
Golden Retriever    2
Labrador            2
Poodle              1
Name: Name, dtype: int64

In [3]:
dogs.groupby("Color").agg({
        "Name": "nunique",
        "Visit Date": "count"
    })

        Name  Visit Date
Color
Black      1           2
Brown      1           1
Golden     1           2
White      1           1

In [4]:
dogs.groupby(["Color", "Breed"])["Name"].count()

Color   Breed
Black   Labrador            2
Brown   Chow Chow           1
Golden  Golden Retriever    2
White   Poodle              1
Name: Name, dtype: int64

In [5]:
dogs.groupby(["Color", "Breed"]).agg({
        "Name": "nunique",
    "Visit Date": "count"
    })

                         Name  Visit Date
Color  Breed
Black  Labrador             1           2
Brown  Chow Chow            1           1
Golden Golden Retriever     1           2
White  Poodle               1           1

In [9]:
dogs.pivot_table(values="Weight", index="Color")

        Weight
Color
Black     31.0
Brown     28.0
Golden    25.5
White     20.0

In [14]:
import numpy as np
dogs.pivot_table(values="Weight", index="Color", aggfunc=np.median)

C:\Users\joseeden\AppData\Local\Temp\ipykernel_29832\2181591324.py:2: FutureWarning: The provided callable <function median at 0x0000020EF2541940> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  dogs.pivot_table(values="Weight", index="Color", aggfunc=np.median)

        Weight
Color
Black     31.0
Brown     28.0
Golden    25.5
White     20.0

In [15]:
dogs.pivot_table(values="Weight", index="Color", aggfunc=[np.mean, np.median])

C:\Users\joseeden\AppData\Local\Temp\ipykernel_29832\2876038700.py:1: FutureWarning: The provided callable <function mean at 0x0000020EC3FD6F20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  dogs.pivot_table(values="Weight", index="Color", aggfunc=[np.mean, np.median])
C:\Users\joseeden\AppData\Local\Temp\ipykernel_29832\2876038700.py:1: FutureWarning: The provided callable <function median at 0x0000020EF2541940> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  dogs.pivot_table(values="Weight", index="Color", aggfunc=[np.mean, np.median])

         mean median
       Weight Weight
Color
Black    31.0   31.0
Brown    28.0   28.0
Golden   25.5   25.5
White    20.0   20.0

In [16]:
dogs.pivot_table(values="Weight", index="Color", columns="Breed")

Breed   Chow Chow  Golden Retriever  Labrador  Poodle
Color
Black         NaN               NaN      31.0     NaN
Brown        28.0               NaN       NaN     NaN
Golden        NaN              25.5       NaN     NaN
White         NaN               NaN       NaN    20.0

In [17]:
dogs.pivot_table(values="Weight", index="Color", columns="Breed", fill_value=0)

Breed   Chow Chow  Golden Retriever  Labrador  Poodle
Color
Black         0.0               0.0      31.0     0.0
Brown        28.0               0.0       0.0     0.0
Golden        0.0              25.5       0.0     0.0
White         0.0               0.0       0.0    20.0

In [20]:
dogs.pivot_table(values="Weight", index="Color", columns="Breed", fill_value=0, margins=True)

Breed   Chow Chow  Golden Retriever  Labrador  Poodle        All
Color
Black         0.0               0.0      31.0     0.0  31.000000
Brown        28.0               0.0       0.0     0.0  28.000000
Golden        0.0              25.5       0.0     0.0  25.500000
White         0.0               0.0       0.0    20.0  20.000000
All          28.0              25.5      31.0    20.0  26.833333